<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Added</title>
    <link rel="stylesheet" href="stylesheets/showOneTokemon.css">
  </head>
  <body>
    <h1><%= nameAdd%> is added SUCCESSFULLY!</h1><br>

    <form>
         <input type="button" onclick="window.location.href = 'https://quiet-springs-08679.herokuapp.com/assignment2';" value="Go Home"/>
    </form>
  </body>
</html>
